<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_stage)/      my_map.pgm my_map_resolution"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz" />
</launch>
